.App {
  text-align: center;
  background-color: #141466;
  padding:11.8vh;
  display:flex;
  justify-content: center;
}
.boximg{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1vw;
  background-color: rgb(255, 255, 255);
}
img{
  min-width: 15vw;
  width: 20vw;
  height:auto;
  background-color: aliceblue;

}
